.grille {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.grille__article {
    flex: 0 1 250px;
   
        border: 1px solid #aaa;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        margin: 5px;
        padding: 3px;
    }
    
.grille__article h6,
.grille__article p:nth-last-of-type(1) {
        margin: 0;
    
}