.evenement {}

.evenement .menu {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    list-style-type: none;
}

.evenement .menu-item {
    flex: 0 1 200px;
    border: 1px solid #aaa;
}

.evenement .menu-item a {
    text-decoration: none;
}
.evenement__stage {
    background-color: aquamarine;
}

.evenement__projet {
    background-color: #fffd7f;
}

.evenement__porte {
    background-color: rgb(21, 157, 236);
}