.chkBurger {
    display: none;
}

.chkBurger:checked~.burger {
    transform: rotate(90deg);
}

.chkBurger:checked~.menu__aside {
    transform: translateX(0);
}

.burger {
    position: absolute;
    top: 0;
    left: 0;
    transform: rotate(0);
    transition: transform 0.5s;
    font-size: 1rem;
    width: 1rem;
    height: 1rem;

}



.menu__aside {
    // nav
    background-color: #7D2D27;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 30px;
    transform: translateX(-100vw);
    transition: transform 0.5s;
    width: 100vw;

    @media screen and (min-width: 700px) {
        position: static;
        width: 100%;
        transform: translateX(0);
    }


}

.menu__aside .menu {
    list-style-type: none;
    margin: 0 0 0 1rem;
    padding: 0;

}

.menu__aside .menu-item {}

.menu__aside .menu-item a {
    text-decoration: none;
    padding: 3px 4px;
    color: #fff;

}