.site {

	display: grid;
	grid-template-columns: auto;
	grid-template-areas:
		"menu"
		"header"
		"main"
		"sidebar"
		"footer";

	@media screen and(min-width:700px) {
		display: grid;
		grid-template-columns: ($size__site-sidebar) auto;
		grid-template-areas:
			"header header"
			"menu main"
			"sidebar main"
			". main"
			"footer footer";
	}
}

.site__header {
	grid-area: header;
	background-color: #879D78;
}

.site__main {

	grid-area: main;
	overflow: hidden;
	/* Resolves issue with <pre> elements forcing full width. */
}

.site__menu {
	position: relative;
	grid-area: menu;
	background-color: rgb(39, 247, 247);
}

.site__sidebar {
	grid-area: sidebar;
	background-color: #C9BF93;
}

.site__footer {
	grid-area: footer;
	background-color: #879D78;
}

//@import "no-menu";